.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    position: fixed;
    line-height: 3;
}

canvas{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px gray;
}